@charset "utf-8";

body{
	background-color: red;
}
img{
	width: 400px;
	border: 15px dotted: gold;
	border-radius: 20%;
}

img:hover {
	border: 25px ridge yellow;
}

h1 {
	color: purple;
	text-decoration: underline wavy;
}

